/* Accordéon Bootstrap personnalisé */
.accordion-button {
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: #efefef;
}

.accordion-body a {
  color: #0d6efd;
  text-decoration: none;
  transition: 0.3s;
}

.accordion-body a:hover {
  text-decoration: underline;
}
