.portfolio-card {
  transition: all 0.3s ease;
  border-radius: 12px;
  padding: 15px;
}

.portfolio-card:hover {
  background-color: #efefef;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.portfolio-btn {
  transition: background-color 0.3s ease;
}

.portfolio-btn:hover {
  background-color: #357ab7; /* légèrement plus clair que btn-primary */
}
